---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      {% if post.content contains "<!-- more -->" %}
        {{ post.content | split: "<!-- more -->" | first }}
        <div>
          <a href="{{ post.url }}">Read More</a>
        </div>
      {% else %}
        {{ post.content }}
      {% endif %}
    </article>
  {% endfor %}
</div>

<div class="paginator">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous available">
      «
    </a>
  {% else %}
    <span class="previous unavailable">«</span>
  {% endif %}
  <span class="page_number ">
    {{ paginator.page }} / {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next available">»</a>
  {% else %}
    <span class="next unavailable">»</span>
  {% endif %}
</div>